.hero-section{
   
    display: flex;
    margin-top: 100px;
}
#hero .col-left{
width: 50%;
}
#hero .col-right{
    width: 50%;
}
#hero .container1
{
    margin-left: 150px;
}
.hello{
    font-size: 29px;
    font-family: 'Patua One','Passion one','Bree Serif','Times New Roman';
    font-weight: 100;
}
.name{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 39px;
    font-family: 'Patua One','Passion one','Bree Serif','Times New Roman';
}
.student{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 29px;
    font-family: 'Patua One','Passion one','Bree Serif','Times New Roman';
}
p{
    margin-top: 35px;
    margin-bottom: 8px;
    font-family: 'Patua One','Passion one','Bree Serif','Times New Roman';
    font-size: 19px;
}
.standard-btn {
    text-decoration:none;
    border: 2px solid #00ACEC;
    padding:10px 20px 10px 20px;
    border-radius:2px;
    color:#00ACEC;
    margin:5px;
  }
  .button{
    margin-top: 80px;
    font-size: 16px;
    font-weight: bolder;
  }
  .standard-btn:hover {
    
    
    color:rgb(1,1,28);
    background-color:#00acec;
  }
  .btn-lg {
    border-radius:12px;
    padding: 15px 40px 15px 40px;
  }
  
a{
    text-decoration: none;
}
#hero .container2
{
    background-size: cover;
    background-image: url(../img/mansiclg.jpg);
  float: right;
      width: 400px;
      height: 400px; 

    border-radius: 300px;
    margin-right: 100px;
    box-shadow:  0px 0px 130px 0px rgb(6, 39, 205);
    /* transition: 0.3s ease box-shadow; */
}
.container2:before {
    position: absolute; 
    content: "";
    top: 138px;
    bottom: 119px;
    left: 840px;
    right: 110px;
    border-radius: 50%;
    /* box-shadow: 0 0 rgba(255, 250, 250, 0.2), 0 0 0 16px rgba(212, 207, 207, 0.2),
      0 0 0 32px rgba(255, 250, 250, 0.2), 0 0 0 48px rgba(255, 252, 252, 0.2); */
      box-shadow: 0 0 rgba(0, 0, 0, 0.2), 0 0 0 16px rgba(0, 0, 0, 0.2),
    0 0 0 32px rgba(0, 0, 0, 0.2), 0 0 0 48px rgba(0, 0, 0, 0.2);

    z-index: 1;
    animation: ripples 1s linear infinite;
    /* slow down */
    animation-play-state: paused; 
     opacity: 0; 
     visibility: hidden; 
     transition: 0.5s; 
     transform: scale(0.5); 
}

.container2:before {
    animation-play-state: running;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  
  @keyframes ripples {
    to {
      box-shadow: 0 0 0 16px rgba(0, 0, 0, 0.2), 0 0 0 32px rgba(0, 0, 0, 0.2),
        0 0 0 48px rgba(0, 0, 0, 0.2), 0 0 0 64px rgba(0, 0, 0, 0);
    }
  }
  
  /* box-shadow: 0 0 0 16px rgba(0, 0, 0, 0.2), 0 0 0 32px rgba(0, 0, 0, 0.2),
  0 0 0 48px rgba(0, 0, 0, 0.2), 0 0 0 64px rgba(0, 0, 0, 0); */

  