*{
    color: white;
}
.navbar{
    color: white;
}
.navbar ul li{
    display: inline;
    margin: 9px;
    font-size: 20px;
    color: white;
}
li{
    color: white;
}
.navbar ul{
    text-align: right;
    text-decoration: none;
    color: white;
}